venv/
*/venv/
venv/
*.so
*.pyc
__pycache__/
venv/
*.so

IA_DropBox/IA/.ipynb_checkpoints
IA_DropBox/IA/dataset
IA_DropBox/IA/phaser
IA_DropBox/IA/practicas

IA_DropBox/IA/*.jpg
IA_DropBox/IA/a.out
IA_DropBox/IA/*.pdf
IA_DropBox/IA/*.zip
IA_DropBox/IA/*.7z
IA_DropBox/IA/*.png



